/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .tab_hOver:hover{
  margin-left:1px;
} */
a{
  color:white !important;
  text-decoration: none !important;
}
a:hover{
  color:white;
  text-decoration: none !important;
  /* margin-left:1px; */
}
.leftpanel{
  height:100vh;
  position: absolute;
  width: 360px;
  top: 0px;
  background: linear-gradient(21.8deg, #3498DB 0%, #2980B9 100%);
}
.leftpanelText{
  color : white;
  fill:solid ;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  color:white;
}

.nameText{
  margin-bottom:52px;
  margin-top:45px;
  font-family : open sans;
  font-style: normal ;
  font-weight : bold;
  font-size: 20px;
  line-height: 30px ; 
  Letter-spacing: 0.04em;
  text-transform: uppercase;
}
.tabText{
  font-family : open sans;
  font-style: normal ;
  font-weight:500;
  font-size: 16px;
  line-height: 24px ; 
  Letter-spacing: 0.04em;
  color:white;
}
.icons{
  margin-top: 104px;
}

.inline-block{
display: inline-block;
margin-left:10px;
margin-top: -4px;
font-family: Open Sans;
font-style: normal;
font-weight: 500;
line-height: 24px;
font-size: 15px;
text-align: center;
text-transform: uppercase;


}
p{
  margin-block-end: 0em;
  margin-block-start: 0em;
}
.tabText p{
  margin-bottom: 34px;
}
.icons div {
  margin-bottom: 17px;
}
.about{
  margin-left:415px;
  margin-right:100px;
  margin-top:14%;
  /* margin-bottom:25%; */
  font-family: Open sans;
  font-style:normal;
  font-size:16px;
}
.Hi{
  font-size:75px;
  color: #3498DB ;
  font-weight: 600;
}
.btn-primary{
  padding-left:1.75rem;
  padding-right:1.75rem;
  border-radius: 0px;
}
.about_me{
  line-height:28px;
  letter-spacing: 0.04em;
}
.Hire_me{
  margin-top:24px;
}
.Resume{
  margin-left:30px;
}
.About_contact{
  margin-top:20px;
}
.About_contact span a p {
  color:#343a40;
}
.About_contact div a p {
  color:#343a40;
}
.email2{
  width:20px;
  margin-right:10px;
}
.About_contact p {
  display: inline-block;
}
.phoneDiv{
  margin-top:9px;
}
.phone{
  margin-right:7px;
}
.skills{
  margin-left:415px;
  margin-right:100px;
  margin-top:10%;
  /* margin-bottom:25%; */
  font-family: Open sans;
  font-style:normal;
  font-size:16px;
}
.skills p {
  margin-bottom:9px;
  margin-top: 32px;
}
.progress{
  height:3px;
}
.projects{
  margin-left: 420px;
}
.laptop{
  height:35%;
  background-color: blue;
}h5{
  margin-top:20px;
}

.card{
  margin-top:25px;
  margin-right:50px;
  height:108%;
 }
 .card-group{
   /* margin:0px 30px opx 30px; */
   width: 75%;
   height:86vh;
   /* margin-top:15px !important; */
 }
 .code_div{
   margin-top:30px;
 }
 .code_logo{
   width: 24px;
 }
 .code_div a p {
   color:#343a40;
 }
 .code{
  display: inline-block;
  margin-left:10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
 }
 .Line_input{
  background: transparent;
  border: none;
  outline:0;
  border-bottom: 1px solid #000000;
  width:735px;
  padding:10px;
 }
 textarea {
  resize: none;
}
textarea.ta10em {
  height: 10em;
}
 .contact p{
   margin-top:20px;
 }
 .contact button{
   margin-top : 20px;
 }
 .contact{
  margin-left:415px;
  margin-right:200px;
  margin-top:10%;
  /* margin-bottom:25%; */
  font-family: Open sans;
  font-style:normal;
  font-size:16px;
 }
 .Contact_contact{
   margin-top:40px;
   float: right;
 }